
/*********************************************
 * text reveal on page scroll
 *********************************************/


.text-reveal-wrap {
  background-color: $color-black;

  .text-reveal {
    display: flex;
    padding: 2.5rem;
    flex-wrap: wrap;
    max-width: 1280px;
    font-size: 3.75rem;
    line-height: 1;
    color: white;

    .word {
      position: relative;
      margin-top: 0.75rem;
      margin-right: 0.75rem;

      &__span {
        position: absolute;
        opacity: 20%;
      }
    }
  }

  .h-screen {
    height: 100vh;
  }
}
