
  &::after {
    content: "";
    opacity: 0.3;
    inset: 0;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--m2 {
    &::after {
      background-image: url(/images/files.webp);
      background-size: cover;
    }
  }


@mixin heading($fow: 900, $mb: 1.6rem) {
  font-size: clamp(2rem, 1.3077rem + 3.4615vw, 3.125rem);
  font-weight: $fow;
  margin-bottom: $mb;
  font-family: $headings;
  text-align: center;
  letter-spacing: 4px;

  --hue: 334;
  --shadow: oklch(25% 0.2 var(--hue));
  --highlight: oklch(98% 0.05 var(--hue));
  text-shadow:
    0 0.15ch 15px var(--shadow),
    0 -2px 0 var(--highlight);
}


    .copy {
      padding: 1rem;
      text-align: center;
      color: $color-white;
      font-size: 0.875rem;

      @include break($medium) {
        font-size: 1rem;
      }

      &__link {
        text-decoration: none;
        color: $color-white;

        &:hover {
          text-decoration: underline;
        }
      }
    }

        a {
          text-decoration: none;
          width: max-content;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            bottom: -4px;
            left: 0;
            background-color: $color-primary;
            transform: scaleX(0);
            transition: transform 0.6s ease;
          }

          &:link,
          &:visited {
            color: $color-black;
          }

          &:active,
          &:hover {
            &::before {
              transform: scaleX(1);
            }
          }
        }

.modul-wrap {
  margin: 1rem auto;
  display: block;
  max-width: $max-width;

  @include break($medium) {
    margin: 3rem auto;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
    font-family: $headings;
    padding: 1rem;
    text-wrap: pretty;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 600;
  }
}

    .copy {
      padding: 1rem;
      text-align: center;
      color: $color-white;
      font-size: 0.875rem;

      @include break($medium) {
        font-size: 1rem;
      }

      &__link {
        text-decoration: none;
        color: $color-white;

        &:hover {
          text-decoration: underline;
        }
      }
    }

