body {
  display: grid;
  min-height: 100vh;
  place-items: center;
}

h2 {
  text-wrap: balance;
}

div {
  width: 400px;
  border: 1px solid black;
  text-wrap: pretty;
  box-shadow: 0 0 10px black;
  padding: 1rem;
}
