
* {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: max(5rem, 100%);
  table-layout: fixed;

  th,
  caption {
    text-align: start;
  }

  caption {
    margin-block: 0.75rem;
  }

  thead {
    border-block-end: 2px solid;
    background: #ddd;
  }

  tfoot {
    border-block: 2px solid;
    background: #ddd;
  }

  th {
    &:first-of-type {
      width: 10rem;
    }

    &:first-child {
      position: sticky;
      inset-inline-start: 0;
      border-inline-end: none;
    }

    &:first-child::after {
      content: "";
      position: absolute;
      inset-block-start: 0;
      inset-inline-end: 0;
      width: 1px;
      height: 100%;
      background: #ddd;
    }
  }

  thead th:not(:first-child),
  td {
    text-align: end;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 0.25rem 0.75rem;
    vertical-align: baseline;
  }

  td:first-of-type,
  :where(thead, tfoot) th:nth-child(2) {
    border-inline-start: none;
  }
}
