
/*********************************************
 * base styles for slideshow
 *********************************************/

.react-slideshow-wrapper {
  // &.slide {
  //   overflow: hidden;
  // }

  .images-wrap {
    .slide {
      width: 100%;
      overflow: hidden;
    }

    &.horizontal {
      display: flex;
      flex-wrap: wrap;
    }

    > div[aria-hidden="true"] {
      display: none;
    }
  }
}

/*********************************************
 * custom styles for slideshow
 *********************************************/

.react-slideshow-container {
  margin-bottom: 2rem;

  @include break($medium) {
    margin-bottom: 1rem;
    padding: 2rem;
  }

  .nav {
    display: none;
  }
}

.slider-wrap {
  @include section-margin;
  max-width: $max-width;
  position: relative;

  h2 {
    @include heading;
    margin-bottom: 0;

    @include break($medium) {
      text-align: center;
    }
  }

  .item {
    height: 100%;
    margin: 0 0.5rem;

    &__container {
      padding: 2rem 1rem;
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: space-between;
      border: 3px solid #fff;
      box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%),
        0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -7px rgb(0 0 0 / 20%);

      blockquote {
        border-left: 1px solid $color-primary;
        margin: 1.5rem 0.5rem;
        padding: 0.7rem 1.5rem;
        color: #000;
        
        &:before {
          color: $color-primary;
          content: "\201c";
          font-size: 8rem;
          line-height: 0.1rem;
          margin-right: 0.25rem;
          vertical-align: -3.2rem;
          opacity: 0.3;
          font-family: $headings;
        }
        
        p {
          display: inline;
          font-size: 1rem;
          text-wrap: pretty;
          font-style: italic;
        }
      }

      cite {
        color: $color-primary;
        padding-left: 2rem;
        font-size: 1.25rem;
        font-family: $headings;
        font-weight: 600;
      }
    }
  }
}

/*********************************************
 * slideshow arrows
 *********************************************/

.slide-prev,
.slide-next {
  position: absolute;
  display: block;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: $color-primary;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  width: 50px;
  height: 50px;
  top: 50%;
  border-radius: 4px;
  opacity: 1;
  border: 1px solid $color-primary;
  z-index: 9;
  display: none;

  @include break($medium) {
    display: block;
  }

  svg {
    width: 2rem;
    height: 2rem;
    fill: $color-secondary;
  }
}

.slide-prev {
  left: -50px;
  transition: all 0.6s;

  // &::before {
  //   content: "\2190";
  //   font-size: 40px;
  //   font-weight: bold;
  //   color: #fff;
  // }
}

.slide-next {
  right: -50px;
  transition: all 0.6s;

  // &::before {
  //   content: "\2192";
  //   font-size: 40px;
  //   font-weight: bold;
  //   color: #fff;
  // }
}

.slider-wrap:hover .slide-prev {
  left: 15px;
}

.slider-wrap:hover .slide-next {
  right: 15px;
}

/*********************************************
 * slideshow dots at the bottom
 *********************************************/

.indicators {
  display: flex !important;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;

  .indicator {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: $color-black;
    margin: 0 5px;
    padding: 0;
    font-size: 0;
    color: transparent;
    cursor: pointer;
    transition: all 0.6s;

    &:hover,
    &:focus {
      background-color: $color-primary;
    }

    &.active {
      background-color: $color-primary;
    }
  }
}
