
body {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #000;
  color: #fff;
  font-size: 2em;
  min-height: 100vh;
  white-space: nowrap;
  padding: 3rem;
}

.blinking-cursor {
  user-select: none;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
