
/*********************************************
 * parallax section - scrolling text
 *********************************************/

.parallax-wrap {
  margin: 0;

  .parallax {
    overflow: hidden;
    letter-spacing: -2px;
    // line-height: 1.3;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;

    &__scroller {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 2rem;
      white-space: nowrap;
      display: flex;
      flex-wrap: nowrap;

      @include break($medium) {
        font-size: 4rem;
      }

      span {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          width: 6rem;
          height: 4rem;
          margin: 0 1rem;

          @include break($medium) {
            width: 10rem;
            height: 5rem;
            margin: 0 2rem;
          }
        }
      }
    }
  }
}
