
/*********************************************
 * parallax section
 *********************************************/

.parallax-wrap {
  padding: 60px 0 50px;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(65, 65, 65, 0.9), rgba(0, 0, 0, 0.8)),
    url(../images/merc.jpg);
  background-size: cover;
  position: relative;

  @include break($medium) {
    padding: 100px 0 70px;
  }

  .parallax {
    padding: 0 1rem;
    max-width: 1200px;
    margin: 0 auto;

    @include break($medium) {
      display: grid;
      gap: 1rem;
    }

    &__item {
      display: flex;
      margin-bottom: 30px;

      &__icon {
        @include flex-center;
        width: 70px;
        min-width: 70px;
        height: 70px;
        margin-right: 16px;
        border-radius: 100%;
        border: 2px solid lighten($color: $color-primary, $amount: 5);
        transition: all 0.6s ease;

        img {
          width: 2rem;
          aspect-ratio: 1;
        }
      }

      &__text {
        h2 {
          font-size: clamp(1.25rem, 0.8056rem + 2.2222vw, 1.5rem);
          color: lighten($color: $color-primary, $amount: 5);
          font-weight: 500;
        }

        p {
          color: $color-secondary;
        }
      }

      &:hover .parallax__item__icon {
        color: $color-secondary;
        background-color: $color-secondary;
      }
    }

    &.even {
      max-width: 800px;
      margin: 0 auto;

      @include break($large) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        max-width: $max-width;
      }
    }

    &.odd {
      max-width: 800px;
      margin: 0 auto;
    }
  }
}
