
body {
  padding: 0;
  margin: 0;
  background: #ddd;
}

.piechart {
  margin: 50px;
  position: relative;
  height: 300px;
  width: 300px;

  &__base {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
  }

  .bg {
    background: rgb(156, 152, 152);
  }

  .slice__container__1 {
    transform: rotate(100deg);
    clip: rect(0, 150px, 300px, 0);

    .slice--1 {
      background: #4eb5cf;
      transform: rotate(90deg);
      clip: rect(0, 150px, 300px, 0);
    }
  }

  .slice__container__2 {
    transform: rotate(120deg);
    clip: rect(0, 150px, 300px, 0);

    .slice--2 {
      background: #e75b1a;
      transform: rotate(158deg);
      clip: rect(0, 150px, 300px, 0);
    }
  }

  .label--1,
  .label--2 {
    color: #000;
    font-weight: bold;
    font-family: arial;
    text-align: right;
    position: absolute;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding: 0 0 0 60px;
    width: 200px;
    left: 260px;
  }

  .label--1 {
    top: 90px;
  }

  .label--2 {
    top: 160px;
  }
}

.piechart2 {
  margin: 50px;
  position: relative;
  height: 300px;
  width: 300px;

  &__base {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
  }

  .bg {
    background: rgb(80, 97, 196);
  }

  .slice__container__1 {
    clip: rect(0, 150px, 300px, 0);
  }

  .slice--1 {
    background: #e07925;
    clip: rect(0, 150px, 300px, 0);
  }
}

.piechart3 {
  margin: 50px;
  position: relative;
  height: 300px;
  width: 300px;

  &__base {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
  }

  .bg {
    background: #000
      url(http://fotopetrpolacek.cz/storage/app/uploads/public/5e6/91b/4ba/5e691b4ba6bbe730024003.jpg)
      no-repeat center;
    background-size: cover;
  }

  .slice__container__1 {
    transform: rotate(200deg);
    clip: rect(0, 150px, 300px, 0);

    .slice--1 {
      background: #097c05;
      transform: rotate(49deg);
      clip: rect(0, 150px, 300px, 0);
    }
  }

  .slice__container__2 {
    transform: rotate(120deg);
    clip: rect(0, 150px, 300px, 0);

    .slice--2 {
      background: #18c712;
      transform: rotate(82deg);
      clip: rect(0, 150px, 300px, 0);
    }
  }

  .label--1,
  .label--2 {
    color: #5f6a2f;
    font-weight: bold;
    font-family: arial;
    text-align: right;
    position: absolute;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding: 0 0 0 60px;
    width: 200px;
    left: 260px;
  }

  .label--1 {
    top: 90px;
  }

  .label--2 {
    top: 160px;
  }
}
