
.highlight {
  transition: all 0.2s;
  border: 2px solid #f00;
  position: absolute;
  top: 0;
  background: #fff;
  left: 0;
  z-index: -1;
  border-radius: 4px;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
