/*********************************************
 * hero header on single page 
 *********************************************/

.hero {
  height: 320px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;

  &--service {
    background: url(../images/tools.jpg) no-repeat center center;
    background-size: cover;
  }

  &--contact {
    background: url(../images/frame.jpg) no-repeat center center;
    background-size: cover;
  }

  h2 {
    text-transform: uppercase;
    padding: 1rem 8rem;
    color: $color-secondary;
    background: rgba($color-primary, 0.8);
  }
}
