
:root {
  --gap: clamp(1rem, 4vw, 2rem);
  --full: minmax(var(--gap), 1fr);
  --content: min(clamp(30rem, 52vw, 60rem), 100% - var(--gap) * 2);
  --extra: minmax(0, 2rem);
  --feature: minmax(0, 12vw);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-size: clamp(1rem, 0.5vw + 0.8rem, 1.25rem);
}

.grid {
  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [extra-start] var(--extra)
    [content-start] var(--content) [content-end]
    var(--extra) [extra-end]
    var(--feature) [feature-end]
    var(--full) [full-end];

  > * {
    grid-column: content;
  }

  > * + * {
    margin-top: 2rem;
  }

  .full {
    grid-column: full;
    background-color: grey;
    color: #fff;
  }

  .feature {
    grid-column: feature;
    background-color: #39f;
  }

  .extra {
    grid-column: extra;
    background-color: goldenrod;
  }

  .content {
    grid-column: content;
    padding: 0;

    &:last-of-type {
      margin-bottom: 4rem;
    }
  }

  section {
    padding: var(--gap);

    h1,
    h2 {
      font-weight: 900;
      line-height: 1.1;
    }
  }
}
