main.grid
  section.full
    h1 CSS Grid page layout
  section.content
    h2 Content
    p
      | Lorem ipsum dolor sit amet csentium dicta cupiditate incidunt, in eius similique pariatur corrupti voluptatum minima! Vel provident corrupti odit placeat nesciunt deleniti officiis magnam quo?
  section.feature
    h2 Feature
    p
      | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibusque iste tempore libero deleniti nesciunt! Magnam ullam nesciunt facere animi quas dolores quod.
  section.content
    h2 Content
    p
      | Lorem ipsut eaque, amet optio magnam quibusdam assumenda laborum modi voluptatem a reprehenderit cumque, omnis, iusto alias magni. Amet non aliquam necessitatibus. Ducimus?
  section.extra
    h2 Extra
    p
      | Lorem, ipsum dolor sit amet consectneque iste tempore libero deleniti nesciunt! Magnam ullam nesciunt facere animi quas dolores quod.
  section.content
    h2 Content
    p
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint eaque, amet optio magnam quibusdam assumenda laborum modi voluptatem a reprehenderit cumque, omnis, iusto alias magni. Amet non aliquam necessitatibus. Ducimus?
  section.content
    h2 Content
    p
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint eaque, amet optio magnam quibusdam assumenda laborum modi voluptatem a reprehenderit cumque, omnis, iusto alias magni. Amet non aliquam necessitatibus. Ducimus?
