
.accordion {
  max-width: 500px;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 1rem;
}

.accordion__title {
  font-weight: 700;
  font-size: 1.5rem;
}

.accordion-body {
  padding-inline: 1rem;
}

.accordion__text {
  display: grid;
  grid-template-rows: 0fr;
  transition: 250ms grid-template-rows ease;
}

.accordion:hover .accordion__text {
  grid-template-rows: 1fr;
}

.accordion__text > div {
  overflow: hidden;
}
