
body {
  display: grid;
  place-items: center;
  align-items: center;
  min-height: 100vh;
}

.icon {
  border: 4px solid dodgerblue;
  width: 65px;
  height: 65px;
  transition: all 0.4s ease-in-out;

  &:hover {
    transform: rotate(90deg);
    border: 4px solid aquamarine;
  }

  &__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: all 0.4s ease-in-out;

    &:hover {
      transform: rotate(-90deg);
    }

    svg {
      transition: all 0.4s ease-in-out;
      width: 3rem;
      height: 3rem;

      &:hover {
        fill: dodgerblue;
        transition: all 0.4s ease-in-out;
      }
    }
  }
}
