
article {
  display: grid;
  grid-template-columns:
    minmax(2rem, 1fr)
    minmax(auto, 65ch)
    minmax(2rem, 1fr);

  * {
    grid-column: 2;
  }

  img {
    grid-column: 1 / 4;
    justify-self: center;
    width: 100%;
    max-width: 100ch;
  }

  p {
    font-size: 1.2em;
    font-family: "Lato", sans-serif;
    line-height: 1.4;
    margin-bottom: 2em;
  }
}
