
.background {
 background: url(https://85495c068751963c497d-9d0c9eb6d8150406a2397ac4a9a00774.ssl.cf3.rackcdn.com/StartPage/background/comeon-sv-2/18/FIN-sweden-aus.jpg);
  background-size: cover;
  min-width:960px;
  min-height:2000px;
}

.logo-padding {
  height:600px;
  width: 100%;
}

#logo {
  background: url(https://8f862a3cf6d7c471b6a6-fb3a1aa204d4ba7b02ce89a81093b84e.ssl.cf3.rackcdn.com/static/comeon/img/logo.png) no-repeat;
  background-position: center;
  height:80px;
  width:100%; 
  transform: scale(2);
}
