
body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  place-items: center;
  gap: 20px;
  font-size: 40px;
  font-weight: bold;
}

.container {
  --b: 5px;
  --a: 40deg;
  --c: #39f;

  display: flex;
  color: var(--c);
}

.breadcrumb {
  position: relative;
  line-height: 1.65;
  padding-inline: calc(0.5lh * tan(var(--a)) + var(--b) / cos(var(--a)));
  margin-inline-start: calc(-0.5lh * tan(var(--a)) - var(--b) / cos(var(--a)));
  text-indent: 0.1em;
}

.breadcrumb:before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--c);
  clip-path: polygon(
    0 0,
    calc(100% - 0.5lh * tan(var(--a))) 0,
    100% 50%,
    calc(100% - 0.5lh * tan(var(--a))) 100%,
    0 100%,
    calc(0.5lh * tan(var(--a))) 50%,
    0 0,
    calc(var(--b) * (tan(var(--a)) + 1 / cos(var(--a)))) var(--b),
    calc(0.5lh * tan(var(--a)) + var(--b) / cos(var(--a))) 50%,
    calc(var(--b) * (tan(var(--a)) + 1 / cos(var(--a)))) calc(100% - var(--b)),
    calc(
        100% - 0.5lh * tan(var(--a)) - var(--b) *
          (1 / cos(var(--a)) - tan(var(--a)))
      )
      calc(100% - var(--b)),
    calc(100% - var(--b) / cos(var(--a))) 50%,
    calc(
        100% - 0.5lh * tan(var(--a)) - var(--b) *
          (1 / cos(var(--a)) - tan(var(--a)))
      )
      var(--b),
    calc(var(--b) * (tan(var(--a)) + cos(var(--a)))) var(--b)
  );
}

.breadcrumb:first-child {
  text-indent: 0;
  padding-inline-start: calc(var(--b) + 0.2em);
}

.breadcrumb:first-child:before {
  clip-path: polygon(
    0 0,
    calc(100% - 0.5lh * tan(var(--a))) 0,
    100% 50%,
    calc(100% - 0.5lh * tan(var(--a))) 100%,
    0 100%,
    0 0,
    var(--b) var(--b),
    var(--b) calc(100% - var(--b)),
    calc(
        100% - 0.5lh * tan(var(--a)) - var(--b) *
          (1 / cos(var(--a)) - tan(var(--a)))
      )
      calc(100% - var(--b)),
    calc(100% - var(--b) / cos(var(--a))) 50%,
    calc(
        100% - 0.5lh * tan(var(--a)) - var(--b) *
          (1 / cos(var(--a)) - tan(var(--a)))
      )
      var(--b),
    var(--b) var(--b)
  );
}

.last .breadcrumb:last-child {
  margin-inline-end: 0;
  padding-inline-end: calc(var(--b) + 0.2em);
}

.last .breadcrumb:last-child:before {
  clip-path: polygon(
    0 0,
    100% 0,
    100% 50%,
    100% 100%,
    0 100%,
    calc(0.5lh * tan(var(--a))) 50%,
    0 0,
    calc(var(--b) * (tan(var(--a)) + 1 / cos(var(--a)))) var(--b),
    calc(0.5lh * tan(var(--a)) + var(--b) / cos(var(--a))) 50%,
    calc(var(--b) * (tan(var(--a)) + 1 / cos(var(--a)))) calc(100% - var(--b)),
    calc(100% - var(--b)) calc(100% - var(--b)),
    calc(100% - var(--b)) var(--b),
    calc(var(--b) * (tan(var(--a)) + cos(var(--a)))) var(--b)
  );
}
