.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: goldenrod;
}

.element {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background: dodgerblue;
  border-radius: 100%;
  animation: shake 4.72s ease infinite;
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
