
/*********************************************
 * about us section
 *********************************************/

.about-wrap {
  @include section-margin;
  max-width: $max-width;

  .about {
    gap: 1rem;

    @include break($medium) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 3rem;
    }

    &__image {
      width: 100%;
      height: auto;
      max-width: 500px;
      margin: 0 auto 1rem;
      display: block;
      border: 3px solid #fff;
      box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%),
        0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -7px rgb(0 0 0 / 20%);
    }

    &__text {
      @include break($medium) {
        justify-content: center;
        display: flex;
        flex-direction: column;
      }

      h2 {
        @include heading;
        margin-bottom: 0;
      }

      p {
        margin-bottom: 0.5rem;
      }
    }
  }
}

