
@layer reset, base, progress,animation;

@layer animation {
  @property --p {
    syntax: "<integer>";
    inherits: true;
    initial-value: 0;
  }

  @keyframes p {
    95%,
    100% {
      --p: 100;
    }
  }
}

@layer progress {
  .progress {
    --w: 7em;
    --b: 0.33em;
    --c: dodgerblue;
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    place-content: center;
    font-size: 2rem;
    counter-reset: p var(--p);
    animation: p 8s linear infinite;

    &::before,
    &::after {
      content: "";
      position: absolute;
      border-radius: 50%;
    }

    &::before {
      content: counter(p) "%";
      inset: 0;
      background: radial-gradient(farthest-side, var(--c) 98%, #0000) top /
          var(--b) var(--b) no-repeat,
        conic-gradient(var(--c) calc(var(--p) * 1%), rgb(0 0 0 / 0.4) 0);

      mask: linear-gradient(red, red) text,
        radial-gradient(
          farthest-side,
          #0000 calc(99% - var(--b)),
          #000 calc(100% - var(--b))
        );

      display: grid;
      place-content: center;
    }
    &::after {
      inset: calc(50% - var(--b) / 2);
      background: var(--c);
      transform: rotate(calc(var(--p) * 3.6deg))
        translateY(calc(50% - var(--w) / 2));
    }
  }
}

@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer base {
  body {
    width: 100vw;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: grid;
    place-items: center;
  }
}
