.card.right
  .card__meta
    .card__meta__image(
      style="background-image: url(https://images.unsplash.com/photo-1539683255143-73a6b838b106?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=770&q=80)"
    )
    ul.card__meta__details
      li
        a(href="#") John Doe
      li 01/01/2222
      li HTML
  .card__description
    h1 HTML in 2 hours
    h2 Architecto obcaecati enim
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.
    p.card__description__more
      a(href="#") Read More

.card
  .card__meta
    .card__meta__image(
      style="background-image: url(https://plus.unsplash.com/premium_photo-1678566154673-a728037f3f00?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=804&q=80)"
    )
    ul.card__meta__details
      li
        a(href="#") John Doe
      li 01/01/2222
      li CSS
  .card__description
    h1 CSS in 2 hours
    h2 Architecto obcaecati enim
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.
    p.card__description__more
      a(href="#") Read More

.card.right
  .card__meta
    .card__meta__image(
      style="background-image: url(https://images.unsplash.com/photo-1597239450996-ea7c2c564412?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80)"
    )
    ul.card__meta__details
      li
        a(href="#") John Doe
      li 01/01/2222
      li JS
  .card__description
    h1 JS in 2 hours
    h2 Architecto obcaecati enim
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.
    p.card__description__more
      a(href="#") Read More

