
.container {
  display: grid;
  _place-items: center;
  _min-height: 100vh;
  container-type: size;
  width: min(60em, 90%);
  height: min(800px, 50vh);
  background: #000;
}

.box {
  --r: 16 / 9;
  place-self: center;
  width: min(100cqw, var(--r) * 100cqh);
  height: min(100cqh, 100cqw/ (var(--r)));
  background: #39f;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #fff;
  letter-spacing: 5px;
}
