
* {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  .container {
    max-width: 1000px;
    margin: 0 auto;

    input[type="radio"] {
      position: absolute;
      left: -9999px;
    }

    .filters {
      text-align: center;
      margin-bottom: 2rem;
      list-style: none;

      * {
        display: inline-block;
      }

      label {
        padding: 0.5rem 1rem;
        margin-bottom: 0.25rem;
        border-radius: 2rem;
        min-width: 50px;
        line-height: normal;
        cursor: pointer;
        transition: all 0.1s;

        &:hover {
          background: dodgerblue;
          color: white;
        }
      }
    }

    .posts {
      display: grid;
      grid-gap: 1.5rem;
      grid-template-columns: repeat(4, 1fr);
      list-style: none;

      .post {
        background: #fafafa;
        border: 1px solid rgba(0, 0, 0, 0.1);
        text-align: center;

        figure {
          margin: 0;

          img {
            display: block;
            max-width: 100%;
            height: auto;
          }

          figcaption {
            padding: 1rem 0.25rem;

            .post-categories {
              margin-bottom: 0.75rem;
              font-size: 0.75rem;
              padding: 0;

              * {
                display: inline-block;
              }

              li {
                margin-bottom: 0.2rem;
              }

              a {
                padding: 0.2rem 0.5rem;
                border-radius: 1rem;
                border: 1px solid;
                line-height: normal;
                transition: all 0.1s;

                &:hover {
                  background: dodgerblue;
                  color: white;
                }
              }
            }
          }

          .post-title {
            font-size: 1rem;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  [value="All"]:checked ~ .filters [for="All"],
  [value="Car"]:checked ~ .filters [for="Car"],
  [value="Bike"]:checked ~ .filters [for="Bike"] {
    background: dodgerblue;
    color: white;
  }

  [value="All"]:checked ~ .posts [data-category] {
    display: block;
  }

  [value="Car"]:checked ~ .posts .post:not([data-category~="Car"]),
  [value="Bike"]:checked ~ .posts .post:not([data-category~="Bike"]) {
    display: none;
  }
}
