.card {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background: yellowgreen;
}

.gear {
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

.gear-large {
  animation: 5s linear rotateR infinite;
}

.gear-medium {
  animation: 5s linear rotateL infinite;
}

.gear-small {
  animation: 5s linear rotateL infinite;
}

@keyframes rotateR {
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateL {
  to {
    transform: rotate(-360deg);
  }
}

@media (prefers-reduced-motion) {
  .gear {
    animation: none;
  }
}
