@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");

body {
  background: #212121;
  font-family: "Montserrat", sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.blockquote-section {
  max-width: 800px;
  padding: 2rem;

  blockquote {
    border-left: 1px solid #ccc;
    margin: 1.5rem 0.5rem;
    padding: 0.7rem 1.5rem;
    color: #fff;

    &:before {
      color: #fff;
      content: open-quote;
      font-size: 8em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
      opacity: 0.6;
    }

    p {
      display: inline;
      font-size: 1.5rem;
      line-height: 1.5;
    }
  }

  cite {
    color: #ddd;
    padding-left: 2rem;
    font-size: 1.25rem;
  }
}
