
* {
  box-sizing: border-box;
}

body {
  margin: 12px;
  background: #111;
  font-family: "Poppins", sans-serif;
}

.Gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  max-width: 1200px;
  margin: auto;

  img {
    flex: 1 1 0;
    height: 250px;
    width: auto;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    cursor: pointer;
    max-width: 100vh;
    transition: 0.5s;

    &:hover {
      filter: grayscale(1);
    }
  }
}
