
body {
  background: black;
}

.fake {
  height: 100vh;
}

section {
  padding: clamp(3rem, 5vw, 5rem) 2rem;
  min-height: 70dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

section .container {
  max-width: 48rem;
  margin: 0 auto;
}

.text_reveal span {
  color: rgba(255, 255, 255, 0.2);
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-image: linear-gradient(90deg, white, white);
  animation: scrollReveal linear forwards;
  animation-timeline: scroll(y);
}
.text_reveal h2 span {
  animation-range-start: cover 30dvh;
  animation-range-end: cover 50dvh;
}
.text_reveal p span {
  animation-range-start: cover 49.9dvh;
  animation-range-end: cover 86dvh;
}

@-webkit-keyframes scrollReveal {
  to {
    background-size: 100% 100%;
  }
}
@keyframes scrollReveal {
  to {
    background-size: 100% 100%;
  }
}
