
/*********************************************
 * dynamic count number section with parallax
 *********************************************/

.counter-wrap {
  background-image: linear-gradient(rgba(65, 65, 65, 0.7), rgba(0, 0, 0, 0.8)),
    url(../images/frame.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  margin: 1rem auto;
  padding: 2rem 1rem;

  @include break($medium) {
    margin: 3rem auto;
    padding: 10rem 0;
  }

  .counter {
    display: grid;
    gap: 1rem;
    color: $color-white;

    @include break($medium) {
      gap: 1rem;
      display: flex;
      justify-content: center;
    }

    &__item {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "icon number number"
        "icon text text";

      @include break($medium) {
        grid-row: span 3;
        grid-template-rows: subgrid;
        justify-items: center;
        width: 280px;
        grid-template-columns: 1fr;
        grid-template-areas:
          "icon"
          "number"
          "text";
      }

      &__icon {
        grid-area: icon;
        display: grid;
        place-items: center;
        border-right: 3px solid $color-primary;
        margin-right: 1rem;
        justify-content: end;
        padding-right: 1rem;

        @include break($medium) {
          border-right: none;
          margin-right: 0;
          padding-right: 0;
        }

        svg {
          width: 4rem;
          height: 4rem;
          fill: $color-white;
        }
      }

      &__number {
        grid-area: number;

        span {
          font-size: 3rem;
          font-family: $headings;
          font-weight: 600;
          line-height: initial;

          @include break($large) {
            padding: 0.5rem 0;
          }
        }
      }

      &__text {
        grid-area: text;

        p {
          font-size: 1.4rem;
          text-transform: uppercase;
          font-family: $headings;
          font-weight: 900;

          @include break($medium) {
            text-align: center;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
