.tabs
  input#html(type="radio", name="fav_language", value="HTML", checked="")
  label(for="html") HTML
  input#css(type="radio", name="fav_language", value="CSS")
  label(for="css") CSS
  input#javascript(type="radio", name="fav_language", value="JavaScript")
  label(for="javascript") JavaScript

