body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: violet;
}
.box {
  display: grid;
  place-content: center;

  > * {
    grid-area: 1/1;
  }

  > span {
    font-size: 30vmin;
    position: relative;
  }

  &:not(:hover) > span:nth-of-type(1) {
    rotate: 0.2turn;
    left: 3rem;
  }

  &:not(:hover) > span:nth-of-type(2) {
    rotate: 0.4turn;
    top: 4rem;
  }

  &:not(:hover) > span:nth-of-type(3) {
    rotate: 0.6turn;
    right: 3rem;
  }
}

