
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #ddd;
  line-height: 1.5rem;
  font-size: 1.3em;
}

header {
  min-height: 100px;

  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.8s;
    background-color: #000;
    min-height: 100px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;

    &.hide:not(:focus-within) {
      top: -100%;
    }

    nav {
      justify-self: end;
      margin-left: auto;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 1rem;

        li a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

section {
  min-height: 100vh;
  padding: 50px;
}
