
body {
  background: #ddd;
  display: grid;
  place-items: center;
  height: 100vh;
}

header {
  display: grid;
  grid-template-areas: "cta";
  background-color: #ddd;
  overflow: hidden;
  color: #000;

  > * {
    grid-area: cta;
  }

  .cta__wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, auto));
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 10vmin 2rem;
    z-index: 1;

    h1,
    h2 {
      margin: 0 0 1rem;
    }

    p {
      font-size: 1.125rem;
      font-size: clamp(1.3rem, 4vw, 1.75rem);
      margin-bottom: 0;
      max-width: 30ch;
    }

    .cta__form {
      position: relative;
      background: #fff;
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.27);

      form {
        display: grid;
        grid-gap: 0.6rem;

        input {
          border-radius: 4px;
          border: 1px solid #767676;
          padding: 0.5rem;
          font-size: 1.15rem;
          font-family: inherit;
        }

        .button {
          text-decoration: none;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          justify-self: start;
          background-color: #000;
          color: #fff;
          border-radius: 0.5rem;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18);
          border: none;
          padding: 0.25em 1rem;
          min-width: 10ch;
          min-height: 44px;
          text-align: center;
          text-transform: uppercase;
          line-height: 1.1;
          transition: 220ms all ease-in-out;

          &:hover,
          &:active {
            background-color: #fff;
            color: #000;
            border: 1px solid #767676;
          }
        }
      }
    }
  }
}
