
header
  .cta__wrapper
    .cta__content
      h1 Product
      p Unde expedita sequi, tempore delectus nam ea ab deserunt quos sapiente, ullam at rerum non!
    .cta__form
      h2 Subscribe to Newsletter
      form(action="/")
        label(for="email") Enter your email:
        input#email(name="email", type="email")
        button.button(type="submit")
          | Submit
